@import url('twentyeleven_style.css');

input#search {
    background: url("images/search.png") no-repeat scroll 5px 6px transparent;
    border-radius: 2px 2px 2px 2px;
    font-size: 14px;
    height: 22px;
    line-height: 1.2em;
    padding: 4px 10px 4px 28px;
}
input#searchsubmit {
    display: none;
}

#branding #searchform {
    position: absolute;
    right: 7.6%;
    text-align: right;
    top: 3.8em;
}
#branding #searchform div {
    margin: 0;
}
#branding #search {
    -webkit-transition-duration: 400ms;
	-webkit-transition-property: width, background;
	-webkit-transition-timing-function: ease;
	-moz-transition-duration: 400ms;
	-moz-transition-property: width, background;
	-moz-transition-timing-function: ease;
	-o-transition-duration: 400ms;
	-o-transition-property: width, background;
	-o-transition-timing-function: ease;
    float: right;
    width: 72px;
}
#branding #search:focus {
    background-color: #F9F9F9;
    width: 196px;
}
#branding #searchsubmit {
    display: none;
}

#branding #site-location {
	font-size: 0.7em;
	color: #BBBBBB;
	position: absolute;
    right: 7.6%;
    text-align: right;
    top: 13.5em;
}

/* user bar */
#tools {
	background: #222; /* Show a solid color for older browsers */
	background: -moz-linear-gradient(#252525, #0a0a0a);
	background: -o-linear-gradient(#252525, #0a0a0a);
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#252525), to(#0a0a0a)); /* older webkit syntax */
	background: -webkit-linear-gradient(#252525, #0a0a0a);
	-webkit-box-shadow: rgba(0, 0, 0, 0.4) 0px 1px 2px;
	-moz-box-shadow: rgba(0, 0, 0, 0.4) 0px 1px 2px;
	box-shadow: rgba(0, 0, 0, 0.4) 0px 1px 2px;
    clear: both;
    display: block;
    position: fixed;
	top: 0px;
	left: auto;
    margin: 0 auto 6px;
    width: 1000px;
}
#tools div {
    margin: 0 7.6%;
}
#tools ul {
    font-size: 10px;
    list-style: none outside none;
    margin: 0 0 0 -0.8125em;
    padding-left: 0;
}
#tools li {
    float: left;
    position: relative;
}
#tools a {
    color: #EEEEEE;
    display: block;
    line-height: 3.333em;
    padding: 0 1.2125em;
    text-decoration: none;
}
#tools ul ul {
	-webkit-box-shadow: rgba(0, 0, 0, 0.2) 0 3px 3px;
	-moz-box-shadow: rgba(0, 0, 0, 0.2) 0 3px 3px;
    box-shadow: rgba(0, 0, 0, 0.2) 0 3px 3px;
    display: none;
    float: left;
    left: 0;
    margin: 0;
    position: absolute;
    top: 3.333em;
    width: 188px;
    z-index: 99999;
}
#tools ul ul .sep {
	border-top: 1px dotted #DDDDDD;
}
#tools ul ul ul {
    left: 100%;
    top: 0;
}
#tools ul ul .empty,
#tools ul ul a {
    background: #F9F9F9;
    border-bottom: 1px dotted #DDDDDD;
    color: #444444;
    font-size: 13px;
    font-weight: normal;
    height: auto;
    line-height: 1.4em;
    padding: 10px;
    width: 168px;
}
#tools ul ul .empty { color: #888888; text-align: center;}
#tools ul ul #nav-notifications-see-all  a,
#tools ul ul #nav-notifications-mark-all  a{
	font-size: 10px; 
	background-color: #222222; 
	color: #eeeeee;
	line-height: 1em;
}
#tools ul ul #nav-notifications-mark-all  a {
	border-bottom: 1px solid #444444;
}
#tools ul ul #nav-notifications-see-all  a:hover,
#tools ul ul #nav-notifications-mark-all  a:hover {
	background-color: #eeeeee; color: #222222;
}

#tools li:hover > a, #access ul ul *:hover > a, #access a:focus {
    background: #EFEFEF;
}
#tools li:hover > a, #access a:focus {
	background: #f9f9f9; /* Show a solid color for older browsers */
	background: -moz-linear-gradient(#f9f9f9, #e5e5e5);
	background: -o-linear-gradient(#f9f9f9, #e5e5e5);
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#f9f9f9), to(#e5e5e5)); /* Older webkit syntax */
	background: -webkit-linear-gradient(#f9f9f9, #e5e5e5);
	color: #373737;
}
#tools ul li:hover > ul {
    display: block;
}
#tools img { 
	width: 16px; 
	margin-bottom: -5px;
    margin-right: 5px;
}

#tools .selected > a,
#access .selected > a{
	font-weight: bold;
}
/* dropdown icon */
.dropmenu { background: url(images/dropdown.png) center right no-repeat; margin-right: 1em;  }
#main .dropmenu { background: url(images/dropdown_dark.png) center right no-repeat; padding-right: 15px; }

/* popup menu (author link) */
#main .dropmenu:hover { background-color: #f9f9f9; }
#main .dropmenu:hover > ul.menu-popup { display: block; }
span.author.vcard { position: relative; }
ul.menu-popup {
	-webkit-box-shadow: rgba(0, 0, 0, 0.2) 0 3px 3px;
	-moz-box-shadow: rgba(0, 0, 0, 0.2) 0 3px 3px;
    box-shadow: rgba(0, 0, 0, 0.2) 0 3px 3px;
    display: none;
    position: absolute;
    width: 12em;
    z-index: 99999;	
    font-size: 10px;
    list-style: none outside none;
    margin: 0 0 0 -0.8125em;
    padding-left: 0;
	left: 0;
	top:1.2em;
}
ul.menu-popup:hover { display: block; }

ul.menu-popup li {
	float: left;
	position: relative;
	width: 100%;
}

ul.menu-popup a {
    background: #F9F9F9;
    border-bottom: 1px dotted #DDDDDD;
    color: #444444;
    font-weight: normal;
    height: auto;
    line-height: 1em;
    padding: 10px;
	display: block;
	text-decoration: none;
}

ul.menu-popup a:hover {
	background: #f9f9f9; /* Show a solid color for older browsers */
	background: -moz-linear-gradient(#f9f9f9, #e5e5e5);
	background: -o-linear-gradient(#f9f9f9, #e5e5e5);
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#f9f9f9), to(#e5e5e5)); /* Older webkit syntax */
	background: -webkit-linear-gradient(#f9f9f9, #e5e5e5);
	color: #373737;	
}


/* main layout */
#main { clear: both; padding: 1.625em 0 0; }

#main #primary { float: left; margin: 0 -26.4% 0 0; width: 100%; }
#main #secondary { float: right; margin-right: 7.6%; width: 18.8%; }
#main #content { margin: 0 34% 0 7.6%; width: 58.4%; }


#colophon { clear: both; }
#site-generator {
    background: none repeat scroll 0 0 #F9F9F9;
    border-top: 1px solid #DDDDDD;
    color: #666666;
    font-size: 12px;
    line-height: 2.2em;
    padding: 2.2em 0.5em;
    text-align: center;
}
#site-generator a {
    color: #555555;
    font-weight: bold;
}


.widget-area {font-size: 12px;}

/* aside */
h2.fn { font-weight: bold; font-size: 1.2em;}
